#daftar-siswa {
    background-color: #747474;
    color: #f3f4f6;
    text-transform: capitalize;
    font-weight: 400;
    font-family: sans-serif;
}

#daftar-siswa > p:hover {
    color: #111827; 
    background-color: gainsboro;
}

#daftar-siswa > p {
    margin: 0;
}

#daftar-siswa > .siswa {
    padding: 10px 15px;
}