nav {
    background-color: lightskyblue;
    
}

nav > a {
    all:unset;
    font-family: sans-serif;
    display:inline-block;
    color: black;
    text-transform: uppercase;
    padding: 10px 15px;
}
nav > a:hover {
    background-color: gainsboro;
}